header {
  height: 177px;
  background: white; }
  header .header-top {
    width: 100%;
    height: 28px;
    border-bottom: 1px solid #e5e5e5;
    background: #f2f2f2;
    position: relative;
    z-index: 2; }
    header .header-top .header-top-cent {
      color: #6c6c6c;
      height: 28px;
      line-height: 28px; }
      header .header-top .header-top-cent .header-top-left {
        float: left; }
        header .header-top .header-top-cent .header-top-left li {
          float: left;
          margin-right: 20px; }
          header .header-top .header-top-cent .header-top-left li a {
            float: left;
            color: #6c6c6c; }
            header .header-top .header-top-cent .header-top-left li a:hover {
              text-decoration: none;
              color: #ed145b; }
      header .header-top .header-top-cent .header-top-right {
        float: right;
        height: 28px; }
        header .header-top .header-top-cent .header-top-right li {
          float: left;
          height: 28px;
          margin-left: 14px;
          position: relative; }
          header .header-top .header-top-cent .header-top-right li a {
            color: #999; }
            header .header-top .header-top-cent .header-top-right li a i {
              width: 12px;
              height: 11px;
              float: left;
              margin: 11px 2px 0 0;
              background: url(../imgs/header_sprites1.png) no-repeat; }
            header .header-top .header-top-cent .header-top-right li a b {
              position: absolute;
              top: 13px;
              right: 6px;
              overflow: hidden;
              width: 6px;
              height: 3px;
              background: url(../imgs/header_newicon1.png) no-repeat 0 0; }
            header .header-top .header-top-cent .header-top-right li a:hover {
              text-decoration: none;
              color: #ed145b; }
          header .header-top .header-top-cent .header-top-right li nav {
            position: absolute;
            top: 29px;
            right: -1px;
            background: #fff;
            border: 1px solid #ddd;
            padding: 8px 0;
            width: 110px;
            border-top: 0;
            box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
            display: none; }
            header .header-top .header-top-cent .header-top-right li nav p {
              padding-left: 20px; }
          header .header-top .header-top-cent .header-top-right li:nth-of-type(4) {
            padding-right: 18px;
            padding-left: 10px;
            z-index: 3; }
            header .header-top .header-top-cent .header-top-right li:nth-of-type(4):hover {
              height: 39px;
              background: white;
              box-shadow: 1px -3px 5px rgba(0, 0, 0, 0.2); }
          header .header-top .header-top-cent .header-top-right li:nth-of-type(5) a {
            color: #ed145b;
            margin-right: 10px; }
            header .header-top .header-top-cent .header-top-right li:nth-of-type(5) a i {
              width: 10px;
              height: 14px;
              background-position: 0 -21px;
              float: left;
              margin: 8px 5px 0 0; }
          header .header-top .header-top-cent .header-top-right li:nth-of-type(6) {
            padding: 0 18px;
            margin-left: 0; }
            header .header-top .header-top-cent .header-top-right li:nth-of-type(6):hover {
              height: 39px;
              background: white;
              box-shadow: 1px -3px 5px rgba(0, 0, 0, 0.2); }
  header .header-center {
    height: 110px;
    background: #fff; }
    header .header-center #logo {
      float: left;
      margin-top: 13px; }
      header .header-center #logo a {
        width: 165px;
        height: 85px;
        display: block;
        background: url(../imgs/logo_new_v1.jpg) no-repeat top left; }
    header .header-center .header-search {
      float: left;
      z-index: 8;
      height: 82px;
      padding-top: 28px;
      width: 536px;
      margin-left: 124px; }
      header .header-center .header-search #search {
        width: 423px;
        height: 18px;
        padding: 7px 5px;
        border: solid #ed145b;
        border-width: 3px 0 3px 3px;
        float: left;
        font-size: 12px;
        color: #999;
        outline: 0 none; }
      header .header-center .header-search input[type=submit] {
        width: 100px;
        height: 38px;
        border: 0 none;
        color: #fff;
        font-size: 14px;
        line-height: 38px;
        float: left;
        background: #ed145b;
        cursor: pointer;
        padding: 0; }
      header .header-center .header-search .hot_word {
        overflow: hidden;
        height: 18px;
        line-height: 18px;
        margin-top: 6px;
        float: left;
        width: 446px; }
        header .header-center .header-search .hot_word li {
          float: left;
          margin-right: 8px; }
        header .header-center .header-search .hot_word a {
          color: #999; }
          header .header-center .header-search .hot_word a:hover {
            text-decoration: none;
            color: #ed145b; }
        header .header-center .header-search .hot_word b {
          overflow: hidden;
          width: 1px;
          height: 12px;
          display: inline-block;
          background: #999;
          margin: 2px 0 -2px 8px;
          padding: 0; }
    header .header-center .header-cart {
      float: right;
      margin-top: 33px; }
      header .header-center .header-cart a {
        text-decoration: none;
        display: block;
        width: 138px;
        height: 32px;
        line-height: 32px;
        border: 1px solid #e5e5e5;
        background: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        position: relative; }
        header .header-center .header-cart a img {
          float: left;
          width: 28px;
          height: 28px;
          overflow: hidden;
          padding: 0 9px 0 9px; }
        header .header-center .header-cart a .text {
          width: 86px;
          height: 32px;
          line-height: 32px;
          color: #666;
          overflow: hidden;
          float: left;
          padding-left: 6px;
          background: #f8f8f8; }
        header .header-center .header-cart a b {
          margin: 4px 3px -2px 5px;
          position: absolute;
          top: 11px;
          right: 2px;
          overflow: hidden;
          width: 6px;
          height: 3px;
          background: url(../imgs/header_newicon1.png) no-repeat 0 0; }
  header .header-bottom {
    height: 38px;
    width: 100%;
    background: url(../imgs/nav_new_line.jpg) repeat-x center top; }
    header .header-bottom .header-bottom-cent {
      height: 38px; }
      header .header-bottom .header-bottom-cent .bot-left {
        height: 38px;
        float: left; }
        header .header-bottom .header-bottom-cent .bot-left .cur {
          background: #ed145b; }
        header .header-bottom .header-bottom-cent .bot-left li {
          float: left; }
          header .header-bottom .header-bottom-cent .bot-left li a {
            position: relative;
            float: left;
            line-height: 36px;
            padding: 0 22px;
            height: 38px;
            color: #fff;
            font-size: 14px;
            text-decoration: none;
            text-align: center; }
            header .header-bottom .header-bottom-cent .bot-left li a:hover {
              color: #eee;
              opacity: .65;
              transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
          header .header-bottom .header-bottom-cent .bot-left li:nth-of-type(1) a {
            padding: 0 40px; }
      header .header-bottom .header-bottom-cent .bot-right {
        float: right;
        margin-top: 5px;
        height: 33px; }
        header .header-bottom .header-bottom-cent .bot-right li {
          float: left;
          margin-right: 12px;
          width: 30px; }
          header .header-bottom .header-bottom-cent .bot-right li a {
            background: url(../imgs/z_01new.jpg) no-repeat;
            display: block;
            width: 30px;
            height: 30px;
            float: left;
            margin-right: 3px; }
          header .header-bottom .header-bottom-cent .bot-right li:nth-of-type(2) a {
            background: url(../imgs/z02.jpg) no-repeat; }
          header .header-bottom .header-bottom-cent .bot-right li:nth-of-type(3) a {
            background: url(../imgs/z03.jpg) no-repeat; }

/*# sourceMappingURL=header.css.map */
