body {
  background: #f7f7f7; }

.banner {
  min-width: 1090px;
  height: 350px;
  overflow: hidden; }
  .banner a {
    background: url(../imgs/135426_1920_350_002-web.jpg) no-repeat center top;
    width: 100%;
    height: 350px;
    display: block;
    margin: auto; }

.main_top {
  margin-top: 20px;
  position: relative; }
  .main_top .top_list {
    width: 464px;
    margin: 0 auto;
    border: 1px solid #666; }
    .main_top .top_list li {
      float: left;
      height: 44px;
      width: 232px;
      line-height: 44px;
      font-size: 22px;
      text-align: center;
      color: #333;
      background: #f7f7f7;
      position: relative;
      cursor: pointer; }
    .main_top .top_list .current {
      background: #666;
      color: #e6e6e6; }
    .main_top .top_list .current:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px;
      left: 50%;
      position: absolute;
      margin-left: -11px;
      border-color: #f7f7f7;
      border-top-color: #666; }

.top_cent {
  width: 1091px; }
  .top_cent .top_box {
    margin-top: 20px;
    overflow: hidden;
    font-size: 0; }
    .top_cent .top_box a {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 20px;
      width: 535px;
      height: 212px;
      vertical-align: top;
      background: white; }
      .top_cent .top_box a:hover {
        opacity: .8;
        filter: alpha(opacity=80); }
      .top_cent .top_box a img {
        display: block;
        width: 100%;
        height: 100%; }
    .top_cent .top_box a:nth-child(2n) {
      margin-right: 0; }
  .top_cent div:last-child {
    display: none; }

#cent_img {
  height: 80px;
  width: 100%;
  background: #fff url(../imgs/54101_1920_80_001-web.jpg) no-repeat top center; }

#daysee {
  background: url(../imgs/old_top_tit.jpg) center top no-repeat;
  width: 100%;
  height: 28px;
  overflow: hidden;
  margin: 20px 0; }

.seebox > div {
  height: 350px;
  width: 100%;
  margin-bottom: 10px;
  position: relative; }
  .seebox > div .seebox_bg {
    display: block;
    height: 340px;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .seebox > div .seebox_bg img {
      display: block;
      position: relative;
      margin-left: -185px;
      width: 1275px;
      height: 340px; }
    .seebox > div .seebox_bg span {
      display: block;
      top: 55px;
      left: 55px;
      position: absolute;
      width: 120px;
      height: 62px;
      background: url(../imgs/top.png) no-repeat; }
  .seebox > div .global_tip {
    position: absolute;
    z-index: 2;
    left: 10px;
    bottom: 20px;
    display: none; }
    .seebox > div .global_tip span {
      padding: 6px 8px;
      border: 1px solid #fff;
      color: #666;
      margin-right: 8px;
      display: inline-block;
      height: 16px;
      line-height: 16px;
      background: #fff;
      opacity: .7; }
  .seebox > div .deals_tags {
    position: absolute;
    left: 0;
    top: 0; }
    .seebox > div .deals_tags .tags_list {
      width: 40px;
      height: 40px;
      float: left;
      overflow: hidden;
      display: inline-block;
      z-index: 1;
      background: url(../imgs/new_haitao_icon.jpg) no-repeat; }
  .seebox > div .seebox_con {
    position: absolute;
    height: 332px;
    width: 382px;
    padding: 0 40px;
    background: #fff;
    top: 18px;
    right: 18px;
    box-shadow: 0 1px 4px #c5c5c5;
    line-height: 1; }
    .seebox > div .seebox_con a:hover {
      text-decoration: none; }
    .seebox > div .seebox_con .have_time {
      margin-top: -1px;
      text-align: center; }
      .seebox > div .seebox_con .have_time .end_time {
        background: #333;
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        display: inline-block;
        margin: 0 auto;
        margin-top: -1px;
        min-width: 174px;
        color: #fff;
        font-size: 14px; }
    .seebox > div .seebox_con .short_title {
      color: #767676;
      line-height: 24px;
      height: 142px;
      display: block;
      font-size: 16px;
      margin-top: 36px;
      overflow: hidden; }
    .seebox > div .seebox_con .product_price {
      margin-top: 30px;
      font-family: arial;
      height: 45px;
      position: relative; }
      .seebox > div .seebox_con .product_price .goto_cart_wrap {
        height: 36px;
        float: right;
        width: 106px; }
        .seebox > div .seebox_con .product_price .goto_cart_wrap .goto_btn {
          display: inline-block;
          height: 36px;
          width: 106px;
          line-height: 37px;
          color: #fff;
          background: #e81a62;
          text-align: center;
          font-size: 14px; }
      .seebox > div .seebox_con .product_price .now_price {
        font-size: 34px;
        color: #000;
        float: left; }
        .seebox > div .seebox_con .product_price .now_price em {
          vertical-align: 6px;
          font-size: 20px;
          margin-right: 2px; }
      .seebox > div .seebox_con .product_price .price_wrap {
        float: left;
        margin-left: 5px; }
        .seebox > div .seebox_con .product_price .price_wrap .icon_wrap {
          height: 14px;
          line-height: 14px;
          margin-bottom: 4px;
          width: 150px;
          top: -6px;
          left: 0; }
        .seebox > div .seebox_con .product_price .price_wrap .pass_price {
          color: #727272;
          position: absolute;
          bottom: 14px; }
    .seebox > div .seebox_con .global_sure_tag .g_tag {
      display: inline-block;
      float: left;
      margin-right: 3px;
      margin-left: -8px; }
      .seebox > div .seebox_con .global_sure_tag .g_tag img {
        width: 134px;
        height: 45px; }
    .seebox > div .seebox_con .global_sure_tag .wish_like {
      padding-top: 10px; }
      .seebox > div .seebox_con .global_sure_tag .wish_like em {
        font-size: 18px;
        color: #b9966a;
        vertical-align: middle; }

/*# sourceMappingURL=index.css.map */
