.search-main {
  min-height: 450px; }
  .search-main .main-head {
    padding: 3px 0 10px;
    color: #333;
    margin: 0 auto;
    height: 41px;
    font-size: 13px; }
    .search-main .main-head .va {
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      width: 0;
      visibility: hidden; }
    .search-main .main-head p {
      font-weight: 900;
      font-family: "SimSun";
      display: inline-block;
      vertical-align: middle; }
      .search-main .main-head p a {
        padding-left: 9px;
        color: #1A1A1A;
        margin-right: 3px; }
      .search-main .main-head p span {
        font-weight: 700; }
  .search-main #search {
    display: inline-block;
    width: 164px;
    border: solid 1px #e7e7e7;
    background: white;
    height: 20px;
    vertical-align: middle;
    position: relative; }
    .search-main #search input {
      display: inline-block;
      border-right: 1px solid black;
      outline: 0;
      border: 0;
      vertical-align: bottom; }
      .search-main #search input[type="text"] {
        width: 140px;
        height: 18px;
        position: relative;
        z-index: 2;
        background: none; }
      .search-main #search input[type="button"] {
        width: 16px;
        height: 16px;
        background: url(../imgs/right_fdj.jpg) no-repeat center; }
    .search-main #search span {
      position: absolute;
      top: 2px;
      left: 3px;
      color: #696767;
      font-size: 12px;
      z-index: 1; }
  .search-main .search-list {
    background: white; }
    .search-main .search-list .list-top {
      padding-top: 10px;
      height: 35px;
      border-left: 1px solid #efeded;
      border-right: 1px solid #efeded; }
      .search-main .search-list .list-top strong {
        margin-left: 10px;
        font-weight: 900;
        font-size: 14px; }
        .search-main .search-list .list-top strong label {
          display: none; }
    .search-main .search-list .list-cont {
      border: 1px solid #efeded;
      padding: 0 5px;
      margin-bottom: 22px;
      background: url(../imgs/multi_con_multi_bg.jpg) repeat-y; }
      .search-main .search-list .list-cont .con {
        min-height: 80px;
        border-bottom: 1px solid #efeded;
        padding: 12px 10px 2px 6px; }
        .search-main .search-list .list-cont .con .cleft {
          margin-right: 20px;
          width: 64px;
          float: left;
          height: 46px;
          font-weight: 700;
          font-size: 14px; }
  .search-main .splists {
    border: 1px solid #eeeded;
    background: white; }
    .search-main .splists .splists-top.fixed {
      position: fixed;
      top: 0px;
      width: 1090px;
      box-shadow: 0 2px 3px #ccc;
      z-index: 999; }
    .search-main .splists .splists-top {
      height: 34px;
      line-height: 34px;
      text-align: center;
      background: url(../imgs/search_paixu_bg.jpg) repeat-x top center; }
      .search-main .splists .splists-top .px {
        height: 34px;
        width: 80px;
        margin-left: 8px;
        border-right: 1px solid #e7e3e3;
        font-weight: 700;
        float: left; }
      .search-main .splists .splists-top ul {
        float: left; }
        .search-main .splists .splists-top ul li {
          float: left;
          border-right: 1px solid #e7e3e3; }
          .search-main .splists .splists-top ul li a {
            padding-right: 10px;
            color: #727272;
            float: left;
            width: 70px;
            height: 34px;
            background: url(../imgs/desc_enable2.png) no-repeat 57px 50%; }
            .search-main .splists .splists-top ul li a:hover {
              color: #ed145b;
              text-decoration: none;
              background-image: url(../imgs/desc_selected_hover.png); }
          .search-main .splists .splists-top ul li:nth-of-type(2) a {
            background: url(../imgs/price_sort_default_2.png) no-repeat 57px 50%; }
            .search-main .splists .splists-top ul li:nth-of-type(2) a:hover {
              background-image: url(../imgs/p_s_hover.png); }
          .search-main .splists .splists-top ul li:nth-of-type(2).sele a {
            background-image: url(../imgs/p_s_hover.png); }
          .search-main .splists .splists-top ul li:nth-of-type(5) a {
            width: 80px;
            padding: 0;
            background-position-x: 66px; }
          .search-main .splists .splists-top ul li:nth-of-type(6) a {
            background: url(../imgs/sou_check.jpg) no-repeat 10px center;
            padding-left: 20px; }
          .search-main .splists .splists-top ul li:nth-of-type(6).xz a {
            background-image: url(../imgs/sou_checked.jpg); }
        .search-main .splists .splists-top ul .sele {
          background: white; }
          .search-main .splists .splists-top ul .sele a {
            color: #ed145b;
            background-image: url(../imgs/desc_selected_hover.png); }
      .search-main .splists .splists-top .splists-top-right {
        float: right;
        height: 34px; }
      .search-main .splists .splists-top .splists-top-right span {
        height: 34px;
        line-height: 34px;
        padding: 0 5px; }
        .search-main .splists .splists-top .splists-top-right span em {
          color: red; }
    .search-main .splists .splists-wrap {
      padding: 20px;
      margin: 0 -32px 0 0; }
      .search-main .splists .splists-wrap li {
        width: 240px;
        height: 434px;
        margin: 0 30px 0 0;
        float: left;
        position: relative; }
        .search-main .splists .splists-wrap li .w-pic {
          width: 282px;
          height: 242px;
          position: relative; }
          .search-main .splists .splists-wrap li .w-pic .wrap-top {
            position: absolute;
            left: 0;
            top: 15px;
            height: 70px;
            z-index: 5;
            width: 260px; }
            .search-main .splists .splists-wrap li .w-pic .wrap-top div {
              width: 90px;
              height: 68px;
              background: url(../imgs/sou_icon2.png) no-repeat 0 0; }
          .search-main .splists .splists-wrap li .w-pic .wrap-pic a {
            display: block;
            padding-top: 30px; }
            .search-main .splists .splists-wrap li .w-pic .wrap-pic a img {
              display: block;
              width: 216px;
              height: 216px; }
        .search-main .splists .splists-wrap li .sp-name {
          width: 200px;
          padding: 26px 10px 0;
          overflow: hidden;
          height: 35px;
          line-height: 18px;
          font-family: "SimSun"; }
          .search-main .splists .splists-wrap li .sp-name a {
            color: #444; }
            .search-main .splists .splists-wrap li .sp-name a:hover {
              color: #ed145b;
              text-decoration: none; }
        .search-main .splists .splists-wrap li .sp-price {
          height: 32px;
          margin-top: 2px;
          position: relative; }
          .search-main .splists .splists-wrap li .sp-price .list-price {
            color: #f42468; }
            .search-main .splists .splists-wrap li .sp-price .list-price label {
              font-size: 18px; }
            .search-main .splists .splists-wrap li .sp-price .list-price span {
              font-size: 24px; }
            .search-main .splists .splists-wrap li .sp-price .list-price del {
              font-weight: 400;
              color: #888; }
            .search-main .splists .splists-wrap li .sp-price .list-price .saleinfos {
              display: inline-block;
              width: 85px;
              height: 17px;
              word-spacing: -4px;
              overflow: hidden;
              margin-bottom: -3px; }
              .search-main .splists .splists-wrap li .sp-price .list-price .saleinfos span {
                display: inline-block;
                margin-left: 1px;
                margin-right: 2px;
                width: 20px;
                height: 16px;
                background: #0abede;
                color: #fff;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                margin-top: 1px; }
        .search-main .splists .splists-wrap li .sp-number {
          width: 257px;
          height: 20px;
          margin-top: 2px; }
          .search-main .splists .splists-wrap li .sp-number p {
            display: inline-block;
            color: #787878;
            padding-right: 5px;
            float: left; }
            .search-main .splists .splists-wrap li .sp-number p div {
              color: #5a5a5a;
              height: 20px;
              font-family: Tahoma;
              font-weight: 700;
              float: left; }
        .search-main .splists .splists-wrap li .sp-button {
          width: 185px;
          margin: 8px 0 0;
          height: 30px; }
          .search-main .splists .splists-wrap li .sp-button a {
            display: inline-block;
            width: 90px;
            height: 30px;
            background: url(../imgs/selectListChange.png) no-repeat; }
            .search-main .splists .splists-wrap li .sp-button a:nth-of-type(2) {
              margin-left: 7px;
              width: 70px;
              background-position-y: -49px; }
        .search-main .splists .splists-wrap li .list-list {
          color: #666;
          display: none;
          overflow: hidden;
          margin: 0 5px 0 -5px;
          width: 240px;
          max-height: 64px; }
          .search-main .splists .splists-wrap li .list-list span {
            margin-left: 6px;
            line-height: 20px;
            display: inline-block;
            border: 1px solid #d4d4d4;
            padding: 1px 5px;
            margin-top: 8px; }
      .search-main .splists .splists-wrap li > div {
        transition: border-color .2s ease-in;
        border: 1px solid #fff;
        padding-bottom: 20px; }
      .search-main .splists .splists-wrap li.hover_on > div {
        position: absolute;
        border: solid 1px #d9d9d9;
        height: auto;
        width: 245px;
        left: -16px;
        top: 0;
        z-index: 210;
        box-shadow: 4px 4px 20px #c6c6c6;
        padding-right: 17px;
        background-color: #FFF;
        padding-left: 16px; }
      .search-main .splists .splists-wrap li.hover_on .list-list {
        display: block; }
      .search-main .splists .splists-wrap .pagenav {
        text-align: right;
        padding-right: 35px;
        padding-top: 80px; }
      .search-main .splists .splists-wrap nav {
        display: inline; }
        .search-main .splists .splists-wrap nav p {
          display: inline-block; }
        .search-main .splists .splists-wrap nav .up, .search-main .splists .splists-wrap nav .dnow, .search-main .splists .splists-wrap nav a {
          display: inline-block;
          height: 28px;
          padding: 0 10px;
          line-height: 28px;
          color: #333;
          background: #fcfcfc;
          border: solid 1px #e2e0e0;
          text-decoration: none;
          margin: 0 4px;
          cursor: pointer; }
          .search-main .splists .splists-wrap nav .up:hover, .search-main .splists .splists-wrap nav .dnow:hover, .search-main .splists .splists-wrap nav a:hover {
            border: solid 1px #fec7d6;
            background: url(../imgs/page_hoverbg.jpg) repeat-x 0 0; }
        .search-main .splists .splists-wrap nav p span {
          display: inline-block;
          height: 28px;
          padding: 0 10px;
          line-height: 28px;
          background: #6d6d6d;
          border: solid 1px #666;
          color: #fff; }
        .search-main .splists .splists-wrap nav .up {
          display: none; }

/*# sourceMappingURL=search.css.map */
