
.main-right{
    width: 40px;
    height: 100%;
    position: fixed;
    background: #444851;
    z-index: 3;
    top: 0;
    right: 0;
    
   .right-top{
        top: 50%;
        margin-top: -190px;
        left: 0;
   }
   .right-bottom{
        bottom: 0;
        z-index: 2;
        li:nth-of-type(1){
            em{
                background-position-y: -302px;
            }
            &:hover em{
                background-position:0 -302px;
            }
        }
        li:nth-of-type(2){
            em{
                background-position-y: -175px;
            }
        }
        li:nth-of-type(3){
            em{
                background-position-y: -201px;
            }
        }
   }
    ul{
        width: 40px;
        position: absolute;
        background: #444851;
        z-index: 4;
        left: 0;
    }
    li{
        position: relative;
        display: block;
        a{
            display: block;
            height: 40px;
            margin-bottom: 6px;
            color:#eee;
            em{
                position: absolute;
                width: 18px;
                height: 19px;
                top: 10px;
                left: 11px;
                background: url(../imgs/ibar_sprites.png) no-repeat ;
                
            }
            
            &:hover{
                background: #ed145b;
                text-decoration: none;
                b{
                    background-position-x: -33px;
                }
                em{
                    background-position-x: -33px;
                }
            }

        }
        .on{
            background-color: #ed145b;
        }
        .gw .on{
            background-color: #ed145b;
        }
        div{
            height: 40px;
            width: 100px;
            background: #444851;
            position: absolute;
            left: -150px;
            top: 0;
            opacity: 0;
            display: none;
            
            i{
                position: absolute;
                right: -10px;
                top: 50%;
                margin-top: -5px;
                border: 5px solid transparent;
                border-left: 5px solid  #444851;
                z-index: 20;

            }
        }
        
        &:nth-of-type(3){
            em{
                background-position-y: -57px;
            }
        }
        &:nth-of-type(4){
            em{
                background-position-y: -81px;
            }
        }
        &:nth-of-type(5){
            em{
                height: 24px;
                background-position-y: -110px;
            }
        }
    }
    
    .gw{
        padding: 20px 0 10px;
        height: 133px;
        a{
            line-height: 16px;
            height: 133px;
            color: #fff;
            position: relative;
            overflow: hidden;
            top: 0;
            left: 0;
            background: url(../imgs/ibar_sprites.png) no-repeat -23px -225px;
            b{
                width: 23px;
                height: 18px;
                top: 11px;
                left: 9px;
                position: absolute;
                background: url(../imgs/ibar_sprites.png) no-repeat 0 -29px;
            }
            span:nth-of-type(1){
                width: 16px;
                display: block;
                height: 48px;
                margin: 38px 0 0 14px;
            }
            span:nth-of-type(2){
                width: 23px;
                height: 23px;
                display: block;
                border-radius: 50%;
                background: #ed145b;
                text-align: center;
                line-height: 23px;
                margin: 9px 0 0 10px;
                cursor: pointer;
                color: #fff;
            }
        }
    }
    
    section{
        width: 287px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        box-shadow: 0 0 5px rgba(0,0,0,.4);
        border-radius: 5px 0 0 5px;
        display: none;
        overflow: hidden;
        z-index: 1;
    }
}

.add-right .main-right li .on{
    background: #ed145b;
            b{
                background-position-x: -33px;
            }
            em{
                background-position-x: -33px;
            }
}
